html {
    height: 100%;
    box-sizing: border-box;
}
body {
    background-image: url(../images/trueback.jpg);
}
.intro {
    text-align: center;
    background-color: whitesmoke;
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}
li {
    color: aqua;
}
h1 {

    background-color: aqua;
    text-align: center;
    height: 120px;
    padding-top: 40px;
    font-weight: bold;
}

h3 {

    background-color: aqua;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: aqua;
}
.matchNumber {
    float: right;
}
img {
    height: 150px;
    width: 100px;
    
}

button {
    position: relative;
}

.footer {
  margin-bottom: -200px;
  background-color: whitesmoke;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  width: 100%;
  background-color: whitesmoke;
  padding: 1rem;
  position: absolute;
  font-weight: bold;
  background-color: aqua;
}
